
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 70px;
}

h1 {
  padding-top: 70px;
}

.profile-text {
  font-size: 18px;
}

.large-text  {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5  {
  text-align: center;
}

#brand-logo {
  width: 85%;
  height: auto;
  margin-top: 10px;
}

.logo {
max-height: 120px;
width: auto;
margin-bottom: 18px;

}

.title {
text-align: center;
margin-top: 50px;
margin-bottom: 0px;
}

.big-pic {
  width: 100%;
  height: auto;
  margin-top: 8px;
}

#profile-pic {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.content {
  margin-top: 20px;
}

footer {
  margin-top: 25px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}
