body {
  padding-top: 70px;
}

h1 {
  padding-top: 70px;
}

.header-title {
  font-size: 50px;
  color: grey;
  text-align: center;
  /*border: 1px red solid;*/
}

.icons-right {
  margin-left: 210px;
}

.row {
  /*border: 1px red solid;*/
}

.header-title p {
  font-size: 20px;
  margin-top: -10px;
}

.logo {
height: 125px;
width: auto;
margin-right: -10px;
/*border: 10x blue solid;*/
}

.title {
text-align: center;
margin-top: 50px;
margin-bottom: 0px;
}

.big-pic {
  width: 100%;
  height: auto;
}

#profile-pic {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.logo-school {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 125px;
  width: auto;
}

.content {
  margin-top: 20px;
}

.row {
  margin-bottom: 0px;
}

/*#contact-us {
  padding: 30px;
}*/

footer {
  margin-top: 25px;
  letter-spacing: 2px;
}
/*Alegreya Sans SC, 'Amatic SC'*/

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}
