body {
  padding-top: 70px;
}

h1 {
  padding-top: 70px;
}

.text-center {
  text-align: center;
}

.col-sm-5, .col-sm-4, .col-sm-8 {
  border: blue solid 1px;
}

.col-sm-5 {
  text-align: center;
}
.col-sm-2 {
  text-align: center;
}

.col-sm-8 {
}

#brand-logo {
margin-left: 10px;
}

.logo {
max-height: 110px;
width: auto;
margin-left: 65px;
margin-right: 65px;
/*margin-right: -10px; */
/*border: 10x blue solid;*/
}

.title {
text-align: center;
margin-top: 50px;
margin-bottom: 0px;
}

.big-pic {
  width: 100%;
  height: auto;
  margin-top: 18px;
}

#profile-pic {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.content {
  margin-top: 20px;
}

/*#contact-us {
  padding: 30px;
}*/

footer {
  margin-top: 25px;
  letter-spacing: 2px;
}
/*Alegreya Sans SC, 'Amatic SC'*/

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}
